@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is going to be an amazing website.</p>
<p>Please come back when i figure out how to program in MVC C# .NET</p>
