
@{
    ViewBag.Title = "TestView";
}

<h1>An amazing page!</h1>
<h2>What you will see here</h2>
<ul>
    <li>Lot of great ideas</li>
    <li>Insights</li>
    <li>Inspiration</li>
    <li>History in the making</li>
</ul>

